.home {
    padding-top: 40px;

    .card {
        min-height: 25vh;
        max-width: 800px;
        margin: 25px auto;
        background-color: #F2F6FB;
        border: 1px solid #BDDD78;
        border-radius: 20px;

        &-title {
            & h5 {
                margin-left: 10px;
            }
        }
    }
}